.learning-group .content h2 {
    border-bottom: 1px solid rgba(189, 189, 189, 0.44);
    padding-bottom: 1rem;
}

.learning-group .invite img {
    width: 100%;
}

.learning-group .invite h3 {
    font-weight: 300;
}

.learning-group .invite .col-sm-4 {
    margin-bottom: 1rem;
}

.change-learning .col-sm-12 {
    margin-bottom: 1rem;
}

.change-learning .change-learning-lesson-item {
    color: #fff;
}

/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #D9534F;
    left: 50%;
    margin-left: -1.5px;
}

.tldate {
    display: block;
    width: 200px;
    background: #414141;
    border: 3px solid #212121;
    color: #ededed;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35);
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

.timeline li:after {
    clear: both;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
    width: 46%;
    float: left;
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
    position: absolute;
    top: 15px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 16px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

/** timeline circle icons **/
.timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: #d9534f;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    border: 1px solid #d9534f;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
}

.timeline li:nth-child(2n) .tl-circ {
    position: absolute;
    top: 15px;
    left: 15%;
    text-align: center;
    background: #13B192;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    border: 1px solid #13B192;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
}

/** timeline content **/

.tl-heading h4 {
    margin: 0;
    color: #c25b4e;
    font-weight: 400;
}

.tl-body p, .tl-body ul {
    margin-bottom: 0;
}

.tl-body > p + p {
    margin-top: 5px;
}

.page-header h1 {
    font-size: 1.8em;
}

ul.timeline:before {
    left: 30px;
}

ul.timeline li .timeline-panel {
    width: calc(100% - 74px);
    width: -moz-calc(100% - 74px);
    width: -webkit-calc(100% - 74px);
}

ul.timeline li .tl-circ {
    top: 14px;
    left: 13px;
    margin-left: 0;

}

ul.timeline li:nth-child(2n) .tl-circ {
    top: 14px;
    left: 13px;
    margin-left: 0;

}

ul.timeline > li > .tldate {
    margin: 0;
}

ul.timeline > li > .timeline-panel {
    float: right;
    margin-right: 0.5rem;
}

ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.invite-member {
    padding-bottom: 1rem;
}

.invite-member .col-sm-8 {
    padding-left: 0;
}

.comment h4 {
    margin: 0;
    font-size: 14px;
    color: rgb(217, 83, 79);
}

.comment img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.comment-items {
    margin-bottom: 1rem;
}

.comment-area {
    width: 100%;
}

.view-comment {
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    display: block;
    color: rgb(0, 105, 152);
}

/*/!*learning group menu*!/*/
/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);*/
/*#cssmenu-learngroup,*/
/*#cssmenu-learngroup ul,*/
/*#cssmenu-learngroup ul li,*/
/*#cssmenu-learngroup ul li a {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*list-style: none;*/
    /*line-height: 1;*/
    /*display: block;*/
    /*position: relative;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

/*#cssmenu-learngroup {*/
    /*/!*width: 220px;*!/*/
    /*font-family: Raleway, sans-serif;*/
    /*color: #ffffff;*/
/*}*/

/*#cssmenu-learngroup ul ul {*/
    /*display: none;*/
/*}*/

/*#cssmenu-learngroup > ul > li.active > ul {*/
    /*display: block;*/
/*}*/

/*.align-right {*/
    /*float: right;*/
/*}*/

/*#cssmenu-learngroup > ul > li > a {*/
    /*padding: 8px 2px;*/
    /*cursor: pointer;*/
    /*z-index: 2;*/
    /*font-size: 17px;*/
    /*text-decoration: none;*/
    /*color: black;*/
    /*text-decoration: none;*/
    /*-webkit-transition: color .2s ease;*/
    /*-o-transition: color .2s ease;*/
    /*transition: color .2s ease;*/
/*}*/

/*#cssmenu-learngroup > ul > li > a:before {*/
    /*text-color: #000;*/
    /*border-left: 3px solid red;*/
    /*content: ' ';*/
    /*padding-right: 4px;*/
/*}*/

/*#cssmenu-learngroup > ul > li > a:hover {*/
    /*color: red;*/
/*}*/

/*#cssmenu-learngroup ul > li.has-sub > a:after {*/
    /*position: absolute;*/
    /*right: 26px;*/
    /*top: 19px;*/
    /*z-index: 5;*/
    /*display: block;*/
    /*height: 10px;*/
    /*width: 2px;*/
    /*background: red;*/
    /*content: "";*/
    /*-webkit-transition: all 0.1s ease-out;*/
    /*-moz-transition: all 0.1s ease-out;*/
    /*-ms-transition: all 0.1s ease-out;*/
    /*-o-transition: all 0.1s ease-out;*/
    /*transition: all 0.1s ease-out;*/
/*}*/

/*#cssmenu-learngroup ul > li.has-sub > a:before {*/
    /*/!*position: absolute;*!/*/
    /*right: 22px;*/
    /*top: 23px;*/
    /*/!*display: block;*!/*/
    /*width: 10px;*/
    /*height: 2px;*/
    /*background: #ffffff;*/
    /*content: "";*/
    /*-webkit-transition: all 0.1s ease-out;*/
    /*-moz-transition: all 0.1s ease-out;*/
    /*-ms-transition: all 0.1s ease-out;*/
    /*-o-transition: all 0.1s ease-out;*/
    /*transition: all 0.1s ease-out;*/
/*}*/

/*#cssmenu-learngroup ul > li.has-sub.open > a:after,*/
/*#cssmenu-learngroup ul > li.has-sub.open > a:before {*/
    /*-webkit-transform: rotate(180deg);*/
    /*-moz-transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*-o-transform: rotate(180deg);*/
    /*transform: rotate(180deg);*/
/*}*/

/*#cssmenu-learngroup ul ul li a {*/
    /*padding: 14px 12px;*/
    /*cursor: pointer;*/
    /*z-index: 2;*/
    /*font-size: 14px;*/
    /*text-decoration: none;*/
    /*/!*color: #dddddd;*!/*/
    /*/!*background: #49505a;*!/*/

    /*/!*modify*!/*/
    /*color: #000;*/
    /*/!*border-left: 5px solid green;*!/*/
    /*margin-bottom: 2px;*/
    /*/!*end modify*!/*/
    /*-webkit-transition: color .2s ease;*/
    /*-o-transition: color .2s ease;*/
    /*transition: color .2s ease;*/
/*}*/

/*#cssmenu-learngroup ul ul ul li a {*/
    /*padding-left: 22px;*/
    /*/!*modify*!/*/
    /*/!*border-left: 5px solid yellowgreen;*!/*/
    /*/!*end modify*!/*/
/*}*/

/*#cssmenu-learngroup ul ul ul li a:before {*/
    /*text-color: #000;*/
    /*border-left: 3px solid brown;*/
    /*content: ' ';*/
    /*padding-right: 4px;*/
/*}*/

/*#cssmenu-learngroup ul ul li a:hover {*/
    /*color: red;*/
/*}*/

/*#cssmenu-learngroup ul ul > li.has-sub > a:after {*/
    /*top: 16px;*/
    /*right: 26px;*/
    /*background: #dddddd;*/
/*}*/

/*#cssmenu-learngroup ul ul > li.has-sub > a:before {*/
    /*/!*top: 20px;*!/*/
    /*/!*background: #dddddd;*!/*/
    /*text-color: #000;*/
    /*border-left: 3px solid green;*/
    /*content: ' ';*/
    /*padding-right: 4px;*/
/*}*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
#cssmenu-learngroup,
#cssmenu-learngroup ul,
#cssmenu-learngroup ul li,
#cssmenu-learngroup ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu-learngroup {
    /*width: 220px;*/
    font-family: Raleway, sans-serif;
    color: #ffffff;
}
#cssmenu-learngroup ul ul {
    display: none;
}
#cssmenu-learngroup > ul > li.active > ul {
    display: block;
}
.align-right {
    float: right;
}

#cssmenu-learngroup > ul > li > a {
    padding: 11px 0px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu-learngroup > ul > li > a:hover {
    color: red;
}
#cssmenu-learngroup ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 14px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #49505A;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu-learngroup ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 18px;
    display: block;
    width: 10px;
    height: 2px;
    background: #49505A;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu-learngroup ul > li.has-sub.open > a:after,
#cssmenu-learngroup ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#cssmenu-learngroup ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #49505A;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu-learngroup ul ul ul li a {
    padding-left: 32px;
}
#cssmenu-learngroup ul ul li a:hover {
    color: red;
}
#cssmenu-learngroup ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #49505A;
}
#cssmenu-learngroup ul ul > li.has-sub > a:before {
    top: 20px;
    background: #49505A;
}
