<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/styles/bootstrap.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/styles/bootstrap-theme.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.js"></script>

<style>
      
</style>

<div class="containner">
<div class="row">
	<div class="hidden-xs col-md-4"></div>
	<div class="col-xs-12 col-md-4 text-center" style="height:400px">

		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner" role="listbox">
			<% sentences.forEach( function(vocabulary){ %>


				<div class="item active">
			      <div class="carousel-caption">
			        <h3>Test</h3>
			        <p><%=vocabulary.word%> <%=vocabulary.example %></p>
			      </div>
			    </div>

			


			<% }); %>
			</div>

			<!-- Left and right controls -->
			  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
		</div>

	</div>



	<div class="hidden-xs col-md-4"></div>
</div>
</div>