
<div class="jumbotron text-center content">

    <h1>mySails Project Demo</h1>

    <h2>This is a project with functional demo register</h2>

    <a href="user/new" class="btn btn-lg btn-success">Sign up</a>
    <a href="user/signin" class="btn btn-lg btn-success">Sign in</a>
</div>

