<div class="jumbotron text-center content">


    <h1>GIB ODC</h1>

    <h2>This is a GIB ODC</h2>

    <a href="user/new" class="btn btn-lg btn-success">Sign up</a>
	<a href="auth" class="btn btn-lg btn-success">Sign in</a>

</div>

    <h1>Demo Functions</h1>
	<div class="row text-left">
		 <h2>Test functions</h2>
		 <a href="/testIndex" class="btn btn-lg btn-success">Test Function</a>
	</div>
	   
	<div class="row text-left">
		 <h2>Vocabulary functions</h2>
		 <a href="/vocabadmin" class="btn btn-lg btn-success">Maintain data for admin</a>
		 <a href="/vocabulary" class="btn btn-lg btn-success">Learn Vocabulary</a>
	</div>

</div>
