<div class="jumbotron text-center content">

    <h1>Demo Functions</h1>

	<div class="row text-left">
		 <h2>Sign up functions</h2>
		    <a href="catalog/user/new" class="btn btn-lg btn-success">Sign up</a>
			<a href="catalog/auth/index" class="btn btn-lg btn-success">Sign in</a>
	</div>

	<div class="row text-left">
		 <h2>Test functions</h2>
		 <a href="/testIndex" class="btn btn-lg btn-success">Test Function</a>
	</div>
	   
	<div class="row text-left">
		 <h2>Vocabulary functions</h2>
		 <a href="/vocabadmin" class="btn btn-lg btn-success">Maintain data for admin</a>
		 <a href="/vocabulary" class="btn btn-lg btn-success">Learn Vocabulary</a>
	</div>

</div>
