<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>

        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
    </div>
</div>

<div class="container">
    <div class="row trainning-form">
        <div class="col-lg-6">
            <form class="form-horizontal test-form">
                <fieldset>
                    <legend>Question Form</legend>
                    <div class="form-group">
                        <label for="inputContent" class="col-lg-2 control-label">Content</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputContent" placeholder="Content" type="text" name="inputContent">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputImage" class="col-lg-2 control-label">Image</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputImage" placeholder="Image" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAudio" class="col-lg-2 control-label">Audio</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputAudio" placeholder="Audio" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputVideo" class="col-lg-2 control-label">Video</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputVideo" placeholder="Video" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLevel" class="col-lg-2 control-label">Level</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputLevel" placeholder="Level" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSort" class="col-lg-2 control-label">Sort</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputSort" placeholder="Sort" type="number" name="inputSort">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCategory" class="col-lg-2 control-label">Category</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputCategory" placeholder="Category" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputOther" class="col-lg-2 control-label">Other</label>

                        <div class="col-lg-10">
                            <input class="form-control" id="inputOther" placeholder="Other" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div id="submit-test" class="btn btn-primary">Ok</div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-6 answer-form">
        </div>
    </div>
    <div class="row trainning"></div>
    <!-- Example row of columns -->
    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->
