<div class="row">
    <% data.forEach(function(item) { %>
    <div class="col-lg-4">
        <h2> Group <%= item.group %></h2>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><%= item.content %></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <% item.answers.forEach(function(item) { %>
                    <div class="col-lg-6">
                        <div class="checkbox">
                            <label>
                                <input class="my-checkbox" type="checkbox" name="<%= item.content %>"> <%= item.content %>
                            </label>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <a href="#" id="btn-answer-ok" class="btn btn-info pull-right">Ok</a>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<script>
    $('#btn-answer-ok').click(function () {
        var _arr_data = [];
        $('.my-checkbox').each(function () {
            if ($(this).prop("checked")) {
                _arr_data.push($(this).attr("name"));
            }
        })
        $.ajax({
            method: "POST",
            url: "confirm",
            data: {data: _arr_data}
        })
                .done(function (msg) {
                    //alert( "Data Saved: " + msg );
                });
    })
</script>