<div class="vocabulary content clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center clearfix">Learning Your Self</h2>

        <p class="text-center desc-home">Hiển thị những bài học của thành viên</p>
      </div>
      <div class="vocabulary-item">
        <% _.each(listLessons, function (listLesson, index) { %>
        <input type="hidden" class="homeBookMaster" bookMasterId="<%= listLesson.bookMaster.id %>" selfLearning ="<%= listLesson.id %>">
        <% }) %>

        <div class="info"></div>
      </div>
      <div class="bookMasterMore"></div>
      <div class="info-book-more"></div>

      <div class="col-sm-offset-4 col-sm-4">
        <div class="info-lesson label-primary loadmore"><a>Load View More</a></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    var bookMasterId = [];
    var selfLearning = [];
    $('.homeBookMaster').each(function () {
      bookMasterId.push($(this).attr('bookMasterId'));
      selfLearning.push($(this).attr('selfLearning'));
    })
    $.ajax({
      url: '/japtool/home/lessonHome',
      type: 'GET',
      data: {
        bookMasterId: bookMasterId,
        selfLearning:selfLearning
      },
      cache: false,
      async: false,
      success: function (data) {

        $('.info').html('');
        $('.info').html(data);
      },
      error: function () {
        alert('Error')
      }
    })
    var loadMore = $(".loadmore");
    var start = 3; //Mac dinh 3 ket qua dau dien khi load page
    loadMore.on('click', function () {
      if(!$(this).hasClass('clicked')){
        $(this).addClass('clicked');
        $.ajax({
          url: '/japtool/home/limitMasterBook',
          type: 'GET',
          data: {
            start: start
          },
          cache: false,
          async: false,
          success: function (data) {
            if(data){
              console.log(data);
              $('.bookMasterMore').html('');
              $('.bookMasterMore').html(data);
              loadMore.removeClass('clicked');
              start += 1; //Cong them 10 gia tri tiep theo
              var moreBookMasterId = [];
              $('.homeMoreBookMaster').each(function () {
                moreBookMasterId.push($(this).attr('moreBookMasterId'));
              })
              console.log(moreBookMasterId);

              if(moreBookMasterId.length > 0){
                console.log('OK');
                $.ajax({
                  url: '/japtool/home/lessonHome',
                  type: 'GET',
                  data: {
                    moreBookMasterId: moreBookMasterId
                  },
                  cache: false,
                  async: false,
                  success: function (data) {
                    $('.info-book-more').append(data);
                  },
                  error: function () {
                    alert('Error')
                  }
                })
              }else{
                loadMore.remove();
              }

            }else{
              loadMore.remove();
            }


          },
          error: function () {
            alert('Error')
          }
        })
      }

    })
  }
</script>
