<div class="vocabulary content clearfix">
    <div class="container">
        <div class="row">
            <h2 class="text-center clearfix">Learning Your Self</h2>

            <p class="text-center desc-home">Hi?n th? nh?ng group h?c ti?ng nh?t c?a b?n bè trong list friends c?a
                b?n, b?n join vào ?? h?c cùng nhau nhé</p>

            <p class="text-center desc-home"><i><a>View more all</a></i></p>

            <div class="col-sm-6">
                <div class="vocabulary-item">
                    <div class="info">
                        <h3><a>Vocabulary games with us</a></h3>

                        <p>Till now you have miss following lesson</p>

                        <div class="row info-desc">
                            <div class="col-sm-3">
                                <div class="info-lesson label-default"><a>Lesson 1</a></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="info-lesson label-primary"><a>Lesson 2</a></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="info-lesson label-success"><a>Lesson 3</a></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="info-lesson label-warning"><a>Lesson 4</a></div>
                            </div>
                        </div>
                        <div class="row info-learning">
                            <div class="col-sm-9">
                                <p><span class="glyphicon glyphicon-bullhorn"></span> Group's members An, Minh, Tâm are
                                    learning <span class="label label-primary">Lession 4</span> now</p>
                            </div>
                            <div class="col-sm-3">
                                <a class="join-learn btn label-danger">Join to learning</a>
                            </div>
                            <div class="col-sm-9">
                                <p><span class="glyphicon glyphicon-bullhorn"></span> Group's members An, Minh, Tâm are
                                    learning <span class="label label-primary">Lession 3</span> now</p>
                            </div>
                            <div class="col-sm-3">
                                <a class="join-learn btn label-danger">Join to learning</a>
                            </div>
                        </div>
                        <p class="info-lesson-done"><span class="glyphicon glyphicon-thumbs-up"></span> Group's members
                            Qu?ng, Hà have done Lession Lession 3</p>

                        <p class="info-lesson-done"><span class="glyphicon glyphicon-thumbs-up"></span> Group's members
                            C?c has done Lession 3 by himself</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="vocabulary-item">
                    <div class="info">
                        <h3><a>Vocabulary games with us</a></h3>

                        <p>Till now you have miss following lesson</p>

                        <div class="row info-desc">
                            <div class="col-sm-3">
                                <div class="info-lesson label-default"><a>Lesson 1</a></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="info-lesson label-primary"><a>Lesson 2</a></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="info-lesson label-success"><a>Lesson 3</a></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="info-lesson label-warning"><a>Lesson 4</a></div>
                            </div>
                        </div>
                        <div class="row info-learning">
                            <div class="col-sm-9">
                                <p><span class="glyphicon glyphicon-bullhorn"></span> Group's members An, Minh, Tâm are
                                    learning <span class="label label-primary">Lession 4</span> now</p>
                            </div>
                            <div class="col-sm-3">
                                <a class="join-learn btn label-danger">Join to learning</a>
                            </div>
                            <div class="col-sm-9">
                                <p><span class="glyphicon glyphicon-bullhorn"></span> Group's members An, Minh, Tâm are
                                    learning <span class="label label-primary">Lession 3</span> now</p>
                            </div>
                            <div class="col-sm-3">
                                <a class="join-learn btn label-danger">Join to learning</a>
                            </div>
                        </div>
                        <p class="info-lesson-done"><span class="glyphicon glyphicon-thumbs-up"></span> Group's members
                            Qu?ng, Hà have done Lession Lession 3</p>

                        <p class="info-lesson-done"><span class="glyphicon glyphicon-thumbs-up"></span> Group's members
                            C?c has done Lession 3 by himself</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>