<div class="vocabulary content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center clearfix">Learning Your Self</h2>

                <p class="text-center desc-home">Hiển thị những bài học của thành viên</p>
            </div>
            <div class="vocabulary-item">
                <% _.each(listLessons, function (listLesson, index) { %>
                <input type="hidden" class="homeBookMaster" bookMasterId= "<%= listLesson.bookMaster.id %>">
                <%})%>

                <div class="info"></div>
            </div>
            <div class="lesson-more-item"></div>
            <div class="info-more"></div>
            <div class="col-sm-offset-4 col-sm-4">
                <div class="info-lesson label-primary loadmore" loadValue="3"><a>Load View More</a></div>
            </div>
        </div>
    </div>
</div>
<form action="/japtool/learning/edit" method="post" id="edit-learning-japtool"
      onsubmit="return validateEditLearning()">
    <div class="modal fade" id="formedit" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" id="editform"></div>
    </div>
</form>

<script type="text/javascript">
    window.onload = function () {
        var bookMasterId = [];
        $('.homeBookMaster').each(function(){
            bookMasterId.push($(this).attr('bookMasterId'));
        })
        $.ajax({
            url: '/japtool/home/lessonHome',
            type: 'GET',
            data: {
                bookMasterId: bookMasterId
            },
            cache: false,
            async: false,
            success: function (data) {
                $('.info').html('');
                $('.info').html(data);
            },
            error: function () {
                alert('Error')
            }
        })


        $(".loadmore").on('click', function () {
            var loadValue = parseInt($(this).attr('loadValue'));
            $.ajax({
                url: '/japtool/home/loadMore',
                type: 'GET',
                data: {
                    loadValue:loadValue
                },
                cache: false,
                async: false,
                success: function (data) {
                  var htmlText =$('.lesson-more-item').html();
                    $('.lesson-more-item').html(htmlText + data);
                    loadValue = loadValue + 1;
                    $(".loadmore").attr("loadValue",loadValue);
                    var bookMasterMoreId = [];
                    $('.homeBookMasterMore').each(function(){
                        bookMasterMoreId.push($(this).attr('bookMasterMoreId'));
                    })
                    $.ajax({
                        url: '/japtool/home/lessonMoreHome',
                        type: 'GET',
                        data: {
                            bookMasterId: bookMasterMoreId
                        },
                        cache: false,
                        async: false,
                        success: function (data) {
                            $('.info-more').html(data);
                        },
                        error: function () {
                            alert('Error')
                        }
                    })
                },
                error: function () {
                    alert('Error')
                }
            })
        })
    }
</script>
