<% _.each(listLessons, function (listLesson, index) { %>
<input type="hidden" class="homeMoreBookMaster" moreBookMasterId= "<%= listLesson.bookMaster.id %>" moreSelfLearning ="<%= listLesson.id %>">
<%})%>

<div class="info"></div>
