<div class="wrapper learning-group">
    <div class="container">
        <div class="row">
            <div class="content">
                <form action="/japtool/learning/add" method="POST" onsubmit="return validationMsg();">
                    <div class="col-sm-12">
                        <h2>Create learning</h2>
                    </div>
                    <div class="clearfix">
                        <div class="col-sm-10 learning-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Learning Name: </label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nameLearning" placeholder="Class Name"
                                           name="nameLearning" required/>
                                </div>
                                <div class="col-sm-2">
                                    <label>Short Description</label>
                                </div>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="4" name="description" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-md hidden-xs">
                            <div class="learning-group-image">
                                <label for="fileButton"><img id="imgGr"
                                                             src="/images/group-friends/masonry_02-400x400.jpg"/></label>
                                <span class="glyphicon glyphicon-upload icon-upload" id="btnUp" for="fileButton"></span>
                                <input type="file" id="fileButton"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group formStartFinish">
                        <label class="col-md-2 control-label">Learning plan:</label>

                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12" id="datepicker">
                                    <div class="input-group">
                                        <span class="input-group-addon">From:</span>
                                        <input type="date" class="form-control" name="startDate">
                                        <span class="input-group-addon">To:</span>
                                        <input type="date" class="form-control" name="finishDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="library-content-desc">
                        <div class="col-sm-12">
                            <input type="hidden" value="13213" name="bookSetId"/>

                            <h2></h2>

                            <h3></h3>

                            <div class="desc-library">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-chooseBook" data-toggle="modal"
                            data-target="#myModal">
                        Choose a book
                    </button>
                    <button type="submit" class="btn btn-success " data-dismiss="modal">Create Learning</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content popup-book">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"></button>
                                    <h4 class="modal-title">Book Library</h4>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            Choose a book
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row form-search-book">
                                                <form name="" action="" method="">
                                                    <div class="col-sm-3">
                                                        <input class="form-control" name="tbSearch" value=""
                                                               id="input-search" placeholder="Search" type="text">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="submit" class="btn btn-primary"><span
                                                                    class="glyphicon glyphicon-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="pre-scrollable showBook mCustomScrollbar" data-mcs-theme="dark">
                                        <!--start three book info-->
                                        <div class="row form-showBook">
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-1"><input type="radio" name="chooseBook"
                                                                                 value="value">
                                                    </div>
                                                    <div class="col-sm-2"><img src="/images/Book-icon-orange.png"
                                                                               width="46" height="46"/></div>
                                                    <div class="col-sm-9">
                                                        <a href=""><p class="lbUser">Học nghe</p></a>

                                                        <p>Level : 10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-1"><input type="radio" name="chooseBook"
                                                                                 value="value">
                                                    </div>
                                                    <div class="col-sm-2"><img src="/images/Book-icon-orange.png"
                                                                               width="46" height="46"/></div>
                                                    <div class="col-sm-9">
                                                        <a href=""><p class="lbUser">Học nghe</p></a>

                                                        <p>Level : 10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-1"><input type="radio" name="chooseBook"
                                                                                 value="value">
                                                    </div>
                                                    <div class="col-sm-2"><img src="/images/Book-icon-orange.png"
                                                                               width="46" height="46"/></div>
                                                    <div class="col-sm-9">
                                                        <a href=""><p class="lbUser">Học nghe</p></a>

                                                        <p>Level : 10</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="lineBook">
                                        <!--finish three book info-->
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Close
                                    </button>
                                    <button type="button" class="btn btn-success " data-dismiss="modal">Choose
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--finish hidden div-->
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validationMsg() {

        if ($('nameLearning') === '') {
            $('nameLearning')
        }
        alert('fail');
        return false;
    }
</script>