<div class="modal-content">
    <div class="modal-header">
        <h2>message from system</h2>
    </div>
    <div class="modal-body">
        <div class="content">
            <div id="mesageBook">
                <%=msg%>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-danger" role="button" data-dismiss="modal">OK</a>
    </div>
</div>