<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content popup-book">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">Book Library</h4>
                <div class="row">
                    <div class="col-sm-3">
                        Choose a book
                    </div>
                    <div class="col-sm-8">
                        <div class="row form-search-book">
                            <form name="" action="" method="">
                                <div class="col-sm-10">
                                    <input class="form-control" name="tbSearch" value=""
                                           id="input-search" placeholder="Search" type="text">
                                </div>
                                <div class="col-sm-1">
                                    <button type="submit" class="btn btn-primary"><span
                                                class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="pre-scrollable showBook mCustomScrollbar" data-mcs-theme="dark">
                    <div class="row form-showBook">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-1"><input type="radio" name="chooseBook"
                                                             value="value">
                                </div>
                                <div class="col-sm-2"><img src="/images/Book-icon-orange.png"
                                                           width="46" height="46"/></div>
                                <div class="col-sm-9">
                                    <a href=""><p class="lbUser">Học nghe</p></a>
                                    <p>Level : 10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="lineBook">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-popup">Close</button>
                <button type="button" class="btn btn-success">Choose</button>
            </div>
        </div>
    </div>
</div>