<% if(code == 'success'){ %>
<div class="wrapper">
  <div class="container">

    <div class="col-sm-12 text-center success-register">
      <h3>Active Success</h3>

      <p>Chúc mừng bạn đã hoàn tất đăng kí.</p>

      <p>Mời bạn click vào đây để bắt đầu sử dụng website <span class="label-danger label"><a>Home</a></span></p>
      </p>
    </div>
  </div>
</div>
<% }else{ %>
<div class="wrapper">
  <div class="container">

    <div class="col-sm-12 text-center success-register">
      <h3>Active Fail</h3>

      <p>Tài khoản của bạn không hợp lệ.</p>

      <p>Mời bạn click vào đây để đăng kí lại tài khoản <span class="label-danger label"><a>Sign Up</a></span></p>
      </p>
    </div>
  </div>
</div>
<% } %>
