<div class="wrapper">
  <div class="container">

    <div class="col-sm-12 text-center success-register">
      <h3>Resgiter Success</h3>

      <p>Chúc mừng <%= user.username %> đã đăng ký tài khoản thành công.</p>

      <p>Chúng tôi đã gửi email kích hoạt tài khoản cho bạn, hãy kích hoạt để hoàn tất đăng kí.</p>
      </p>
    </div>
  </div>
</div>
