<h4>Edit info contact</h4>
<form method="post" action="/contact/update">
    <input type="text" name="email" value="<%- contact.email %>" placeholder="email"/><br/><br/>
    <input type="text" name="phone" value="<%- contact.phone %>" placeholder="phone"/><br/><br/>

    <input type="hidden" name="id" value="<%- id %>"/>
    <input type="submit" value="Update"/>
</form>