<h4>Add new contact</h4>
<%= user.fullname %>
<hr/>
<form method="post" action="/contact/create">
    <input type="text" name="email" placeholder="email"/><br/><br/>
    <input type="text" name="phone" placeholder="phone"/><br/><br/>

    <input type="hidden" name="id" value="<%- user.id %>"/>
    <input type="submit" value="Add"/>
</form>