/*
 *
 *Flip flash card 
 *
*/
.flip {
  position: relative;
  width: 190px;
  height: 470px;
  margin: 50px auto;
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;

}
.flip .card {
  width: 100%;
  height: 100%;

  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  font-family: Georgia;
  line-height: 100%;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888888;

  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
}
.flip .card .front {
  z-index: 1;
  background: gray;
  cursor: pointer;
  text-align: center;
  font-size: 3em;
}
.flip .card .back {
  background: gray;
  cursor: pointer;
  text-align: left;
  font-size: 1.3em;
  color: white;
    
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */

}
.flip .card .front .image_card {
  width: 95%;
}
.flip .card .front .word_card {
  background: none repeat scroll 0 0 #F27B00;
  color: white;
  font-size: 30px;
  text-align: center;
}
.flip .card .back .title_card {
  background: none repeat scroll 0 0 #F27B00;
  font-size: 2em;
  color: white;
  text-align: center;
}
.flip .card .back .content_card {
  font-size: 1.3em;
}
.flip .card .front .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

/*
 *
 * Custom carousel of bootstrap
 * 
*/
.carousel-inner .item .flip {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.carousel-control.left, .carousel-control.right {
  background: none !important;
  outline: 0;
  color:gray;
  width: 10%;

 }
 .carousel-control.button{
  bottom:0;
  font-size: 200px;
 }

/*
 *
 * play sound button of vocabulary
 *
*/

/*hover action*/
.glyphicon-play:hover {
  color: gray;
}
/*click action*/
.glyphicon-play:active {
  -webkit-transform:scale(.95); /* Safari and Chrome */
  -moz-transform:scale(.95); /* Firefox */
  -ms-transform:scale(.95); /* IE 9 */
  -o-transform:scale(.95); /* Opera */
  transform:scale(.95);
}

/*
 *
 * examples, synonymous, antonymous of vocabulary
 *
*/

/*hover action*/
.examples:hover, .synonymous:hover, .antonymous:hover {
  color: black;
}
/*click action*/
.examples:active, .synonymous:active, .antonymous:active {
  -webkit-transform:scale(.95); /* Safari and Chrome */
  -moz-transform:scale(.95); /* Firefox */
  -ms-transform:scale(.95); /* IE 9 */
  -o-transform:scale(.95); /* Opera */
  transform:scale(.95);
}

/*
 *
 * others
 *
*/
.top-space {
  margin-top:10px;
}
.left-space {
  margin-top:5px;
  margin-left:10px;
}
.top-right{
  position:absolute;
  top:0;
  right:0;
}
.bottom-center{
  bottom:0;
}
.hide-children{
  display: none;
}


