<button type="button" class="btn btn-navbar"  data-toggle="collapse" data-target="#styleVocabulary">
  				<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  			</button>




<!-- Mega menu -->
  			<div class="navbar navbar-default yamm">
  	<div class="navbar-header">

  			<!-- Mobile toggle button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#styleVocabulary" aria-expanded="false">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            </button>
	</div>
  	<div id="styleVocabulary" class="nav-collapse in collapse" aria-expanded="true">
  		<ul class="nav navbar-nav">
  			<li class="dropdown yamm-fw">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        			Hoc Tu Vung
        			<b class="caret"></b>
      			</a>
      			<ul class="dropdown-menu">
      				<li class="grid-demo">
      					<div class="row">
      						<div class="col-sm-12"> 
      							<a role="menuitem" tabindex="-1" href="#">Hoc Tu Vung Qua Flash Card</a>
      						</div>
      					</div>
      				</li>
      				<li role="presentation" class="divider"></li>
      				<li class="grid-demo">
      					<div class="row">
      						<div class="col-sm-12">
      							a role="menuitem" tabindex="-1" href="#">Hoc Tu Vung Qua List</a> 
      						</div>
      					</div>
      				</li>
      			</ul>
  			</li>
  	    </ul>
  	</div>
  </div>