<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-social.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-roboto.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="linker/styles/index.css">

    <%- body %>

    <script src="/js/dependencies/jquery-1.9.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dependencies/menu.js"></script>
    <script type="text/javascript" src="linker/js/jquery.countimator.js"></script>
    <script type="text/javascript" src="linker/js/common.home.js"></script>

</head>
</html>