<h4>Edit info user</h4>
<form method="post" action="/user/update">
    <input type="text" name="fullname" value="<%- user.fullname %>" placeholder="fullname"/><br/><br/>
    <input type="text" name="age" value="<%- user.age %>" placeholder="age"/><br/><br/>

    <input type="hidden" name="id" value="<%- user.id %>"/>
    <input type="submit" value="Edit"/>
</form>
