<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>

        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 question-container">
        </div>
        <div class="col-lg-6 answer-form">
        </div>
    </div>
    <div class="row test-container"></div>
    <!-- Example row of columns -->
    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->
