<form class="form-horizontal test-form" action="/submitTest" method="post" id="question-form"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Question Form</legend>
        <div class="form-group">
            <label for="inputContent" class="col-lg-2 control-label">Content</label>

            <div class="col-lg-10">
                <input class="form-control" id="inputContent" placeholder="Content" type="text" name="content">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLevel" class="col-lg-2 control-label">Level</label>

            <div class="col-lg-10">
                <input class="form-control" id="inputLevel" placeholder="Level" type="text" name="level">
            </div>
        </div>
        <div class="form-group">
            <label for="inputSort" class="col-lg-2 control-label">Sort</label>

            <div class="col-lg-10">
                <input class="form-control" id="inputSort" placeholder="Sort" type="number" name="sort">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCategory" class="col-lg-2 control-label">Category</label>

            <div class="col-lg-10">
                <input class="form-control" id="inputCategory" placeholder="Category" type="text" name="category">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLesson" class="col-lg-2 control-label">Lesson</label>

            <div class="col-lg-10">
                <input class="form-control" id="inputLesson" placeholder="Lesson" type="text" name="lesson">
            </div>
        </div>
        <div class="form-group">
            <label for="inputOther" class="col-lg-2 control-label">Other</label>

            <div class="col-lg-10">
                <input class="form-control" id="inputOther" placeholder="Other" type="text" name="other">
            </div>
        </div>
        <div class="form-group">
            <label for="inputImage" class="col-lg-2 control-label">Image</label>

            <div class="col-lg-10">
                <input class="" id="inputImage" type="file" multiple="multiple" name="image">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAudio" class="col-lg-2 control-label">Audio</label>

            <div class="col-lg-10">
                <input class="" id="inputAudio" type="file" multiple="multiple" name="audio">
            </div>
        </div>
        <div class="form-group">
            <label for="inputVideo" class="col-lg-2 control-label">Video</label>

            <div class="col-lg-10">
                <input class="" id="inputVideo" type="file" multiple="multiple" name="video">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input id="submit-test" class="btn btn-primary" type="submit" value="Ok"/>
            </div>
        </div>
    </fieldset>
</form>
<script>
    $(document).ready(function () {
        $('.test-form').validate({
            rules: {
                content: {
                    required: true,
                    minlength: 6
                },
                sort: {
                    number: true,
                    required: true
                }
            },
            success: function (element) {
                element.text('OK!').addClass('valid')
            }
        });
    })
</script>